
header {
  padding: 156px 0 100px;
  background-color: black;
}

section {
  padding: 150px 0;
  background-color: black;
}
.form-control{
background-color: rgb(0, 0, 0);
color: whitesmoke !important;
}


